* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(./images/jeff-guab2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 4100px;
    background-color: rgb(201, 227, 224);
}

html {
    scroll-behavior: smooth;
}

/*_______________________________________________________________________________*/

#header {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
    justify-content: space-around;
}

#header h1 {
    display: flex;
    color: rgba(59,156,140,1);
}

#header h1 a {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header h1 a:hover {
    color: white;
    font-size: 41px;
    font-weight: bold;
    font-style: normal;
}

#header nav {
    display: flex;
    padding-top: 13px;
}

#header ul {
    margin-top: 20px;
}

#header a {
    color: rgb(44, 46, 45);
    text-decoration: none;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
}

#header a:hover {
    color: white;
    text-decoration: 3px underline black;
    text-underline-offset: 10px;
    font-style: italic;
}

/*_______________________________________________________________________________*/

.content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    margin-top: 800px;
    text-align: center;
}

.content ul {
    
    list-style-type: none;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    opacity: 0.3;
}

.content ul:hover {
    font-size: 26px;
    font-weight: bold;
    box-shadow: 0px 0px 14px 16px rgba(228, 239, 239, 0.5);
}

.second-content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 200px;
    text-align: center;
}

.second-content ul {
    
    list-style-type: none;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    border-radius: 10px;
    opacity: 0.3;
}

.second-content ul:hover {
    font-size: 28px;
    font-weight: bold;
    box-shadow: 0px 0px 14px 16px rgba(228, 239, 239, 0.5);
}

.second-content h2:hover {
    color: rgba(59,156,140,1);
}

/*_______________________________________________________________________________*/

h2 {
    color: white;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2:hover {
    color: black;
    font-size: 31px;
}

/*_______________________________________________________________________________*/

img {
    width: 300px;
    height: 200px;
    border: 20px;
    border-radius: 10px;
    transition: width 0.5s, height 0.5s;
}


img:hover {
    width: 450px;
    height: 350px;
    box-shadow: 0px 0px 30px 12px rgba(59,156,140,1);
}

/*_______________________________________________________________________________*/

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    opacity: 0.4;
}

.footer ul {
    display: flex;
    list-style-type: none;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer ul a {
    font-size: 28px;
    color: black;
    padding: 10px 10px 10px 2px;
}

.footer ul a:hover {
    text-decoration: 3px underline black;
    text-underline-offset: 3px;
    color: black;
}

.footer img {
    width: 28px;
    height: 28px;
    margin-top: 2px;
}